.heart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    font-size: 36px;
}

.heart-icon {
    color: grey;
}

.heart-button .fas {
    color: red;
}

.d-none {
    display: none !important;
}

.nutrition-item {
    width: 80px;
    margin-right: 10px;
}

.text-warning {
    margin-bottom: 5px;
}

.glass-effect {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    background: rgba(255, 255, 255,.1);
    backdrop-filter: blur(2px);
    color: #000;
}

.glass-effect-input {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #000;
}

.glass-effect-button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #000;
    transition: background 0.3s, color 0.3s;
}

.glass-effect-button:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
}


.facebook-share-btn {
    display: inline-flex;
    align-items: center;
    background-color: #3b5998;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.facebook-share-btn:hover {
    background-color: #2d4373;
}

.facebook-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
