{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}

{% block main %}
<div class="container-fluid p-0">
    <img src="static/logo2.jpg" alt="Large Image" class="img-fluid w-100" style="object-fit: cover; height: 300px;">
</div>

<div class="container text-center my-4">
    <h1 class="display-5 fw-bold">About Food&Recipes</h1>
    <p class="lead" style="font-family: 'Georgia', serif;">
        Welcome to Food&Recipes, your ultimate destination for discovering and organizing your favorite recipes.
        Whether you’re an experienced cook or just starting out on your culinary journey,
        our platform is designed to inspire creativity in the kitchen and make meal planning easy for everyone.
    </p>
    <p class="lead" style="font-family: 'Georgia', serif;">
        At Food&Recipes, we believe that cooking should be enjoyable and accessible.
        That’s why we’ve created an intuitive interface where you can easily search for recipes,
        save your favorites, and even create a personalized menu for yourself based on your needs.
        From quick weeknight dinners to gourmet meals, our diverse recipe database has something for every taste and occasion.
    </p>
    <p class="lead" style="font-family: 'Georgia', serif;">
        Join our growing community of food lovers, explore new dishes, and bring your cooking experience to the next level
        with Food&Recipes!
    </p>
    <h3 style="font-family: 'Georgia', serif;">Happy cooking!</h3>
</div>

{% endblock %}
