{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}
<div class="container-fluid p-0">
    <img src="static/logo2.jpg" alt="Large Image" class="img-fluid w-100" style="object-fit: cover; height: 300px;">
</div>

<div class="container text-center my-4">
    <h1 class="display-5 fw-bold">Our contacts</h1>
    <ul class="lead" style="font-family: 'Georgia', serif;">
        <p>Address: New York, NY 10012, US</p>
        <p>Email: food_recipes@example.com</p>
        <p>Telefon: + 01 234 567 88</p>
        <p>Fax: + 01 234 567 89</p>
    </ul>
</div>

{% endblock %}
