{% extends "layout.html" %}

{% block title %}
    Create Meal Plan
{% endblock %}

{% block main %}

        <div class="container-fluid p-0">
            <img src="static\logo2.jpg" alt="Large Image" class="img-fluid w-100" style="object-fit: cover; height: 300px;">
        </div>

        <h1 class="display-5 fw-bold mt-2">Setting up your meal plan</h1>

<div class="container mt-4">
    <form action="/request_from_user" method="POST">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="w-75">
                <div class="row">
                    <!-- Left Block -->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="form-group text-center">
                                    <label for="daysInput" class="h5">Number of days for your plan (from 1 to 14)</label>
                                    <div class="d-flex justify-content-center">
                                        <input type="number" id="daysInput" name="days" min="1" max="14" value="1" class="form-control mb-3 w-50" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Block -->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5>Select the number of calories per day</h5>
                                <div class="row mb-3">
                                    <div class="col">
                                        <input type="number" id="minCaloriesInput" name="min_calories" class="form-control" placeholder="Min calories 1500" oninput="validateCalories()">
                                    </div>
                                    <div class="col">
                                        <input type="number" id="maxCaloriesInput" name="max_calories" class="form-control" placeholder="Max calories 2000" oninput="validateCalories()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- General Settings Header -->
         <div class="row border pl-3 pr-3 mb-4 rounded d-flex justify-content-center align-items-center w-75 mx-auto">
            <h2 class="mt-2 mb-2">General restrictions or diet type for meal plan</h2>
            <div class="w-75">
                <div class="row  ">
                    <!-- Left Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-8 mb-4">
                        <button type="button" class="btn btn-outline-success mt-2 w-75" onclick="toggleSingleForm('healthConditionsForm')">Select health restrictions and preferences</button>
                        <div id="healthConditionsForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap">
                                {% for condition in health_conditions %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="health_conditions" value="{{ condition }}" id="{{ condition }}">
                                        <label class="form-check-label ms-1" for="{{ condition }}">{{ condition }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Right Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-4 mb-4">
                        <button type="button" class="btn btn-outline-success mt-2" onclick="toggleSingleForm('dietConditionsForm')">Select diet type</button>
                        <div id="dietConditionsForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-column">
                                {% for condition in diet_conditions %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="diet_conditions" value="{{ condition }}" id="{{ condition }}">
                                        <label class="form-check-label ms-1" for="{{ condition }}">{{ condition }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Breakfast Section -->
        <div class="row border pl-3 pr-3 mb-4 rounded d-flex justify-content-center align-items-center w-75 mx-auto">
            <h2 class="mt-2 mb-2">Select criteria for your breakfast</h2>
            <div class="w-75">
                <div class="row">
                    <!-- Left Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-7 mb-4">
                        <button type="button" class="btn btn-outline-warning mt-2 w-75" onclick="toggleSingleForm('healthBreakfastForm')">Additional restrictions for breakfast</button>
                        <div id="healthBreakfastForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap">
                                {% for condition in health_conditions %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="health_breakfast" value="{{ condition }}" id="{{ condition }}">
                                        <label class="form-check-label ms-1" for="{{ condition }}">{{ condition }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Right Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-5 mb-4">
                        <button type="button" class="btn btn-outline-warning mt-2 w-75" onclick="toggleSingleForm('breakfastDishForm')">Add breakfast food type</button>
                        <div id="breakfastDishForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="breakfast_dish" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lunch Section -->
        <div class="row border pl-3 pr-3 mb-4 rounded d-flex justify-content-center align-items-center w-75 mx-auto">
            <h2 class="mt-2 mb-2">Select criteria for your lunch</h2>
            <div class="w-75">
                <div class="row">
                    <!-- Left Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-7 mb-4">
                        <button type="button" class="btn btn-outline-warning mt-2 w-75" onclick="toggleSingleForm('healthLunchForm')">Additional restrictions for lunch</button>
                        <div id="healthLunchForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for condition in health_conditions %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="health_lunch" value="{{ condition }}" id="{{ condition }}">
                                        <label class="form-check-label ms-1" for="{{ condition }}">{{ condition }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Right Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-5 mb-4">
                        <button type="button" class="btn btn-outline-warning mt-2 w-75" onclick="toggleSingleForm('lunchDishForm')">Add lunch food type</button>
                        <div id="lunchDishForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="lunch_dish" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Starter, Main, Dessert Section -->
                <div class="form-group mt-2">
                    <label for="lunch_sections" class="d-block text-center h4">Select sections for lunch:</label>
                    <div class="d-flex justify-content-center h4">
                        <div class="form-check d-flex align-items-center me-3">
                            <input class="form-check-input" type="checkbox" name="lunch_sections" value="Starter" id="starter_section">
                            <label class="form-check-label ms-1 " for="starter_section">Starter</label>
                        </div>
                        <div class="form-check d-flex align-items-center me-3">
                            <input class="form-check-input" type="checkbox" name="lunch_sections" value="Main" id="main_section">
                            <label class="form-check-label ms-1" for="main_section">Main</label>
                        </div>
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" name="lunch_sections" value="Dessert" id="dessert_section">
                            <label class="form-check-label ms-1" for="dessert_section">Dessert</label>
                        </div>
                    </div>
                </div>

                <!-- Additional Lunch Options: Starter, Main, Dessert Forms -->
                <div class="row mt-4">
                    <div class="col-12 col-md-4 mb-3">
                        <button type="button" class="btn btn-outline-primary w-100" onclick="toggleSingleForm('starterLunchForm')">Add starter type</button>
                        <div id="starterLunchForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="starter_dish" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <button type="button" class="btn btn-outline-primary w-100" onclick="toggleSingleForm('mainLunchForm')">Add main course type</button>
                        <div id="mainLunchForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="lunch_main_dish" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <button type="button" class="btn btn-outline-primary w-100" onclick="toggleSingleForm('dessertLunchForm')">Add dessert type</button>
                        <div id="dessertLunchForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="lunch_dessert" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dinner Section -->
        <div class="row border pl-3 pr-3 mb-4 rounded d-flex justify-content-center align-items-center w-75 mx-auto">
            <h2 class="mt-2 mb-2">Select criteria for your dinner</h2>
            <div class="w-75">
                <div class="row">
                    <!-- Left Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-7 mb-4">
                        <button type="button" class="btn btn-outline-warning mt-2 w-75" onclick="toggleSingleForm('healthDinnerForm')">Additional restrictions for dinner</button>
                        <div id="healthDinnerForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for condition in health_conditions %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="health_dinner" value="{{ condition }}" id="{{ condition }}">
                                        <label class="form-check-label ms-1" for="{{ condition }}">{{ condition }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Right Block -->
                    <div class="row d-flex justify-content-center align-items-center col-12 col-md-5 mb-4">
                        <button type="button" class="btn btn-outline-warning mt-2 w-75" onclick="toggleSingleForm('dinnerDishForm')">Add dinner food type</button>
                        <div id="dinnerDishForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="dinner_dish" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dinner Sections (Main, Dessert) -->
                <div class="form-group mt-2">
                    <label for="dinner_sections" class="d-block text-center h4">Select sections for dinner:</label>
                    <div class="d-flex justify-content-center h4">
                        <div class="form-check d-flex align-items-center me-3">
                            <input class="form-check-input" type="checkbox" name="dinner_sections" value="Main" id="main_dinner_section">
                            <label class="form-check-label ms-1" for="main_dinner_section">Main</label>
                        </div>
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" name="dinner_sections" value="Dessert" id="dessert_dinner_section">
                            <label class="form-check-label ms-1" for="dessert_dinner_section">Dessert</label>
                        </div>
                    </div>
                </div>

                <!-- Additional Dinner Options: Main, Dessert Forms -->
                <div class="row mt-4">
                    <div class="col-12 col-md-6 mb-3">
                        <button type="button" class="btn btn-outline-primary w-100" onclick="toggleSingleForm('mainDinnerForm')">Add main course type</button>
                        <div id="mainDinnerForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="dinner_main_dish" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <button type="button" class="btn btn-outline-primary w-100" onclick="toggleSingleForm('dessertDinnerForm')">Add dessert type</button>
                        <div id="dessertDinnerForm" class="checkbox-form mt-2" style="display:none;">
                            <div class="d-flex flex-wrap justify-content-center">
                                {% for dish in dish_types %}
                                    <div class="form-check d-flex align-items-center me-3 mb-2">
                                        <input class="form-check-input" type="checkbox" name="dinner_dessert" value="{{ dish }}" id="{{ dish }}">
                                        <label class="form-check-label ms-1" for="{{ dish }}">{{ dish }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-success mt-2 col-2">Submit</button>
    </form>
</div>

<script>
    // Function for displaying only one active form
    function toggleSingleForm(formId) {
        const forms = document.querySelectorAll('.checkbox-form');
        forms.forEach(form => {
            if (form.id === formId) {
                form.style.display = form.style.display === 'none' ? 'block' : 'none';
            } else {
                form.style.display = 'none';
            }
        });
    }

    function validateCalories() {
        const minCaloriesInput = document.getElementById("minCaloriesInput");
        const maxCaloriesInput = document.getElementById("maxCaloriesInput");

        let minCalories = parseInt(minCaloriesInput.value) || 1500;
        let maxCalories = parseInt(maxCaloriesInput.value) || 2000;

        if (minCalories >= maxCalories) {
            minCaloriesInput.classList.add("is-invalid");
            maxCaloriesInput.classList.add("is-invalid");
            return false;
        } else {
            minCaloriesInput.classList.remove("is-invalid");
            maxCaloriesInput.classList.remove("is-invalid");

            if (!minCaloriesInput.value) minCaloriesInput.value = 1500;
            if (!maxCaloriesInput.value) maxCaloriesInput.value = 2000;

            return true;
        }
    }
</script>
{% endblock %}

